//home.scss
.headerNavLinkHome{
    text-decoration:underline;
}

.mainSection{
    height:750px;
}

.mainSectionItem{
    border: 2px solid black;
    h2{
        font-size:3em;
    }
    p{
        font-size: 2em;
        margin:10px;
    }

    margin-top: 60px;

}

.mainSectionItemSummary{
    float:left;
    width: 400px;
}

.mainSectionItemImage{

    display: inline-block;
    float:right;
    height: 450px;
    border: 1px solid black;
    img{
        max-width:100%;
        max-height:100%;

    }
}



