*{
    margin:0;
}

html {
    width:750px;
}

body {
}

ul {
    list-style: none;
}

.headerSection{
    background-color: rgb(150, 150, 150);
text-align:center;
}


.headerText {
    font-size: 0.75em;
}

.mainSection{
    background-color: rgb(175, 175, 175);
    padding: 25px;
}

.footerSection{
    background-color: rgb(200, 200, 200);
}

.mainSection{
    margin: 0 auto;
}

.mainSection h3 {
}

.mainSectionItem{
    border: 1px solid rgb(0,0,0);
}

.mainSectionItemLeft{
float:left;
}
.mainSectionItemLeft p{
margin-right: 10px;
}

.mainSectionItemRight{
display:inline-block;
}

