//main.scss
$blue: rgb(50, 75, 125);

*{
    margin:0;
}

html {
    width:850px;
    margin: 0 auto;
}

body {
    border: 1px solid $blue;
}


h1, h2, h3, h4, p, a{
    font-family:sans-serif;
}

h1{
    color: white;
}


ul {
    list-style: none;
    padding: 0;
}

.headerSection{
    height: 100px;
    background-color: $blue;
    text-align:center;

    h1{
        padding-top:10px;
        font-size: 2em;
    }
}

.headerNav{
    margin-top: 15px;
}


.headerNavLink{
    color: white;
    text-decoration: none;
    margin: 25px 10px 25px 10px;
    font-size: 1.25em;
}

.headerNavLink:hover{
    color: black;
}

.mainSection{
    width: 90%;
    margin: 0 auto;
}

footer {
    height: 100px;
    background-color: $blue;
    text-align:center;
    padding-top: 10px;

    p{
        margin-bottom: 35px;
    }
    a, p{
        font-size: 1.5em;
        color:white;
        text-decoration:none;
        margin-right: 10px;

    }

    a:hover{
        color:black;
    }
}

